*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: sans-serif;
    background-color: #cccfd1;
}

main {
    max-width: 1024px;
    margin: 0 auto;
}
.container {
    display: grid;
    justify-content: center;
    align-items: center;
}    

header{
    background-color: rgb(23, 143, 103);
    padding: 10px;
    color: white;
    text-align: center;
    font-family: Poppins;
}


.card{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 30px auto;
    border-radius: 5px;
    width: 600px;

}

.lineinput{
    display: grid;
    margin-bottom: 10px;
}

input, textarea, select{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(241, 240, 240);
    outline: 0;
}

button{
    padding: 8px;
    outline: 0;
    border: 0;
    background-color:rgb(23, 143, 103) ;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    transition: all ease 0.3s;
}

button:hover{
    background-color:rgb(17, 88, 65) ;
}
.content{
    margin-top: 40px;
}

table{
    border-collapse: collapse;
    border: 1px solid rgb(161, 160, 160);
    margin: 0 auto;
}

table th{
    background-color: rgb(23, 143, 103);
    color: #fff;
    padding: 5px 10px;
}
table td{
    padding: 0 20px;
}
table td img{
    width: 50px;
    padding: 5px;
    cursor: pointer;
}

table td img:hover{
    width: 65px;
    transition: 0.5s;
}
